
#device-list {
    width: 20%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid white;
}

#device-list-titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7.5%;
    align-items: center;
    border-bottom: 1px solid white;
}
#device-list-titlebar > h2 {
    padding-left: 5px;
}
#refresh-devices {
    font-size: 2rem;
    background-color: rgba(0,0,0,0);
    transform: translateY(-.25rem);
    margin-right: 5px;
}

#device-list-devices {
    overflow-y:auto;
    height: 92.5%;
}

.selected-device {
  background-color: rgba(0,0,0,.25);
  font-weight: bold;
}