
#main-problem {
    width: 100%;
}
#main-problem-content {
    width: 100%
}
.main-problem-subitem {
    border: 1px solid var(--border-colors);
    background-color: var(--box-colors);
    border-radius: 5px;
    width: 45vw;
    min-height: 25vh; /* Remove if animation is added back */
}
.main-problem-subitem > h3 {
    padding: 2vh;
    overflow: hidden;
}
.main-problem-row {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 25vh; /* Remove if animation is added back */
    padding-top: 7vh;
}
.main-problem-subitem-content > p {
    padding: 2vh;
    padding-top: 0;
}

/*
.main-problem-subitem-content {
    max-height: 0;
    overflow: hidden;          
    transition: max-height 1s ease 0ms;
}
.main-problem-subitem:hover > div {
    max-height: 100vh;
}
*/